@model SalesWebMvc.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error (Erro)";
}

<h1 class="text-danger">@ViewData["Title"]</h1> @*Erro*@
<h2 class="text-danger">@Model.Message</h2> @*Retorna mensagem da Classe: ErrorViewModel*@

@*Se existir um RequestId*@

@if (Model.ShowRequestId)

{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>@*Retornará o valor do RequestId*@
    </p>
}