@model SalesWebMvc.Models.Seller

@*
    Declaração acima diz que a View tem à disposição dela o objeto Seller. Como um "using"

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2> @*Pode ser escrito em forma de texto, mas, aproveitou o recurso de título acima*@

<h4>Seller</h4>
<hr />
@*Saltar linha*@
<div class="row">
    @*Garante a ocupação total da tela*@
    <div class="col-md-4">
        @*Ocupação de 1/3 da tela, pois, o bootstrap divide a tela em 12partes/3 = 4 *@
        <form asp-action="Create">
            @*Define que quando enviar o formulário, irá chamar a ação Create no método post no controlador*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                @*TagHelper que define o label para digitar a informação. Campo: Name da classe Seller*@
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                @*TagHelper que define o label para digitar a informação. Campo: Name da classe Seller*@
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                @*TagHelper que define o label para digitar a informação. Campo: Name da classe Seller*@
                <input asp-for="BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BaseSalary" class="control-label"></label>
                @*TagHelper que define o label para digitar a informação. Campo: Name da classe Seller*@
                <input asp-for="BaseSalary" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>